{% extends "layout.html" %}

{% block main %}
    <div class="jumbotron">
        <a href="/register" role="button" class="btn btn-lg btn-block btn-danger">Register a patient</a>
        <a href="/eq5d5l" role="button" class="btn btn-lg btn-block btn-success">Complete a questionnaire about your general health</a>
        <a href="/iciqui" role="button" class="btn btn-lg btn-block btn-warning">Complete a questionnaire about urine leakage</a>
        <a href="/lutsqol" role="button" class="btn btn-lg btn-block btn-primary">Lower urinary tract symptoms</a>
    </div>
{% endblock %}
